@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Itim&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.navbar {
    background-color: #D9D9D9;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 50px;
}

.logo h1 {
    font-family: "Itim", cursive;
    color: black;
    font-size: 48px;
}

.logo a {
    text-decoration: none;
}

.nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 80px;
}

.item-list {
    list-style: none;
    display: flex;
    gap: 80px;
}

.item-list li {
    font-family: "Itim", cursive;
    text-decoration: none;
    font-size: 24px;
    cursor: pointer;
    padding: 5px 0px;
}

.item-list li a {
    text-decoration: none;
    color: black;
    padding: 5px 0px;
}

.item-list li a:hover {
    color: #0958A1;
    transition: color 0.3s ease-in-out;
}