.summary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.information {
    background-color: #539984;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 40px 0px;
}

.title {
    padding: 20px;
    font-size: 50px;
    font-family: "Kanit", sans-serif;
}

.text-section {
    display: flex;
    gap: 50px;
    width: 80%;
    padding: 20px 40px;
    border-radius: 20px;
    /* background-color: rgb(107, 162, 189); */
}

.text-para {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-para > h2 {
    margin-bottom: 20px;
}

.textbox {
    outline: none;
    border: none;
    padding: 20px;
    resize: none;
    border-radius: 10px;
    overflow: auto;
}

.instruction {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-screen {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.response {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.response > h2 {
    margin-bottom: 20px;
}

.summarybox {
    background-color: white;
    padding: 20px;
    height: 100%;
    border-radius: 10px;
}

.button button {
    padding: 10px 30px;
    font-size: 20px;
    border-radius: 12px;
    outline: none;
    border: none;
    background-color: #AAD9E8;
    cursor: pointer;
    transition: color 1s ease-in-out, background-color 1s ease-in-out;
}

.button button:hover {
    background-color: #099AC9;
    color: wheat;
    box-shadow: 4px 8px 6px 2px rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}